.App {
  text-align: center;
}

.NavBar{
  width: 99%;
  padding: 2px;
  height: 55px;
  background-color: blue;
  color: antiquewhite;
  display: flex;
  justify-content: space-around;
  font-size: 30px;
  position: absolute;
  left: 6px;
  top: 15px;
}

.link{
  color:bisque;
}

.table{
  background-color: white;
  width: 99%;
  padding: 2px;
  border: 2px solid black;
  position: absolute;
  top: 140px;
  left: 6px;
  height: 100%;
  font-size: 20px;
  table-layout: auto;
   
}

h1.home-h{
  position: relative;
  top: 50px;
  right: 555px;
}